[submodule "WTEngine/vendor/spdlog"]
	path = WTEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "WTEngine/vendor/GLFW"]
	path = WTEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "WTEngine/vendor/imgui"]
	
	path = WTEngine/vendor/imgui
	
	url = https://github.com/TheCherno/imgui

[submodule "WTEngine/vendor/glm"]
	
	path = WTEngine/vendor/glm
	
	url = https://github.com/g-truc/glm
