[submodule "WTEngine/vendor/spdlog"]
	path = WTEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "WTEngine/vendor/GLFW"]
	path = WTEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
